<p id="notice"><%= notice %></p>

<h1>Listing Venta</h1>

<table>
  <thead>
    <tr>
      <th>Id cliente</th>
      <th>Cantidad</th>
      <th>Clabe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta.each do |ventum| %>
      <tr>
        <td><%= ventum.id_cliente %></td>
        <td><%= ventum.cantidad %></td>
        <td><%= ventum.clabe %></td>
        <td><%= link_to 'Show', ventum %></td>
        <td><%= link_to 'Edit', edit_ventum_path(ventum) %></td>
        <td><%= link_to 'Destroy', ventum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ventum', new_ventum_path %>
